/* utility classes */
.hide{
    display: none;
}




header{
    width: 100%;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    /* background-color: #d1d1d1; */
}
nav .logo{
    width: 160px;
    height: 80px;
}
nav .logo img{
    width: 100%;
    height: 100%;
}
nav .navlink{
    display: flex;
    gap: 30px;
}
.navlink li{
    list-style: none;
}
.navlink li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    position: relative;
}
.navlink li a::before{
    content: "";
    height: 4px;
    width: 0;
    bottom: -7px;
    border-radius: 10px;
    position: absolute;
    background-color: #ff5900;
    
}
.navlink li a:hover{
    color: #ff5900;
    transition: all .3s linear;
}
.navlink li a:hover:before{
    width: 100%;
    transition: all .3s linear;
}
nav .btn{
    width: 100px;
    height: 40px;
    border:  none;
    background-color: rgb(165, 209, 255);
    color: rgb(93, 0, 255);
    border-radius: 50px;
}
nav #menubtn{
    font-size: 1.5rem;
    border: none;
}

@keyframes showmenu {
    from{width: 0px;}
    to{width: 100%;}
}

@media screen and (min-width:1048px) {
    nav .navlink{
        display: flex;
    }
}
@media screen and (max-width:1048px) {
    nav{
        padding: 0 20px;
    }
    nav .navlink{
        gap: 20px;
    }
}
@media screen and (max-width:768px) {
    nav{
        padding: 0 15px;
    }
    nav .navlink{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 80px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgb(220, 220, 220);
        padding: 20px;
        animation: showmenu .2s linear;
    }
    nav .navlink li{
        margin: 10px 0;
    }
    
    nav .btn{
        display: none;
    }
    nav #menubtn{
        display: block;
    }
    
}